<div class="slider-wrap">
  <div class="slider-label" id="slider-<%= name %>">
    <p><span><%= name %></span></p>
    <p><span class="percentage"><%= percentage %>%</span></p>
  </div>
  <div class="slider" id="<%= percentage %>">
  </div>
</div>
